hrs-pipeline-testlibraryflow3.json
[{"id":"a7b4f877.584b08","type":"http in","z":"20669928.9d2336","name":"","url":"/chat","method":"post","x":125,"y":188,"wires":[["f22fd32b.0dd03"]]},{"id":"19e2f288.e61d0d","type":"http response","z":"20669928.9d2336","name":"","x":646,"y":187,"wires":[]},{"id":"2dd6573e.d229a8","type":"template","z":"20669928.9d2336","name":"","field":"payload","template":"\n  <iframe src=\"http://localhost:1880/dialog\" name=\"iframe_a\" height=\"70%\"></iframe>\n  <form name=\"frm\" action=\"http://localhost:1880/chat\" method=\"post\">\n  <b>Message from {{payload}}</b><br>\n  <input type=\"text\" name=\"message\" size=\"90%\"/>\n  <input type=\"hidden\" name=\"user\" value=\"{{payload}}\"><br>\n  <button type=\"submit\">Submit</button>\n  </form>\n  \n  <SCRIPT language=\"JavaScript\">\n  window.setInterval(\"reloadIFrame();\", 1000);\n  function reloadIFrame() { window.frames[\"iframe_a\"].location.reload(); }\n  </SCRIPT>\n","x":472,"y":187,"wires":[["19e2f288.e61d0d"]]},{"id":"c062c270.3f9d4","type":"http in","z":"20669928.9d2336","name":"","url":"/dialog","method":"get","x":128,"y":248,"wires":[["ec5dcef5.13a23"]]},{"id":"ebf8176c.1407e8","type":"http response","z":"20669928.9d2336","name":"","x":646,"y":248,"wires":[]},{"id":"2cec5a6e.d313a6","type":"template","z":"20669928.9d2336","name":"","field":"payload","template":"{{{payload}}}","x":474,"y":248,"wires":[["ebf8176c.1407e8"]]},{"id":"f22fd32b.0dd03","type":"function","z":"20669928.9d2336","name":"","func":"  if (msg.req.body[\"user\"] != \"\") {\n    msg.payload = msg.req.body[\"user\"]\n  }\n  if (msg.req.body[\"message\"] != undefined) {\n    context.global.dialog += \n    msg.req.body[\"user\"]+': '+msg.req.body[\"message\"]+\"<BR>\";\n  }\ncontext.global.dialog = context.global.dialog || \"\";\nreturn msg;","outputs":1,"x":295,"y":187,"wires":[["2dd6573e.d229a8"]]},{"id":"ec5dcef5.13a23","type":"function","z":"20669928.9d2336","name":"","func":"msg.payload = context.global.dialog;\nreturn msg;","outputs":1,"x":297,"y":247,"wires":[["2cec5a6e.d313a6"]]},{"id":"dc8eadd2.23715","type":"http in","z":"20669928.9d2336","name":"","url":"/login","method":"get","x":126,"y":92,"wires":[["50273e9c.afd8c"]]},{"id":"50273e9c.afd8c","type":"template","z":"20669928.9d2336","name":"","field":"payload","template":"\n  <form action=\"http://localhost:1880/chat\" method=\"post\">\n  <b>User</b><br> <input type=\"text\" name=\"user\"/><br>\n  <button type=\"submit\">Submit</button>\n  </form>","x":286,"y":92,"wires":[["3117f0d1.cee81"]]},{"id":"3117f0d1.cee81","type":"http response","z":"20669928.9d2336","name":"","x":490,"y":60,"wires":[]},{"id":"3ae6147a.c519ec","type":"http in","z":"20669928.9d2336","name":"","url":"/mypage","method":"get","x":103,"y":485,"wires":[["64fe4e7e.9b01b"]]},{"id":"261eae15.d9e152","type":"http response","z":"20669928.9d2336","name":"","x":660,"y":485,"wires":[]},{"id":"e5d84762.1a27b8","type":"template","z":"20669928.9d2336","name":"template","field":"payload","template":"This is the <b>message</b>: {{payload}}","x":512,"y":485,"wires":[["261eae15.d9e152"]]},{"id":"64fe4e7e.9b01b","type":"function","z":"20669928.9d2336","name":"where things happen","func":"if (msg.topic === \"new message\") {\n  context.value = msg.payload;\n  return null;\n} else {\n  msg.payload = context.value || \"never got anything\";\n  return msg;\n}","outputs":1,"x":314,"y":485,"wires":[["e5d84762.1a27b8"]]},{"id":"6fd4a45e.902b5c","type":"inject","z":"20669928.9d2336","name":"","topic":"new message","payload":"Have a nice day","payloadType":"string","repeat":"","crontab":"","once":false,"x":157,"y":411,"wires":[["64fe4e7e.9b01b"]]}]